@charset "UTF-8";:root {
    --vscode-foreground: #cccccc;
    --vscode-font-family: "Segoe WPC", "Segoe UI", sans-serif;
    --vscode-font-weight: normal;
    --vscode-font-size: 13px;
    --vscode-editor-background: #1f1f1f;
    --vscode-editor-foreground: #cccccc;
    --vscode-focusBorder: #0078d4;
    --vscode-textLink-foreground: #4daafc;
    --vscode-textLink-activeForeground: #4daafc;
    --vscode-editor-font-family: Consolas, 'Courier New', monospace;
    --vscode-button-secondaryForeground: #cccccc;
    --vscode-button-secondaryBackground: #313131;
    --vscode-button-secondaryHoverBackground: #3c3c3c;
    --vscode-input-background: #313131;
    --vscode-input-foreground: #cccccc;
    --vscode-input-border: #3c3c3c;
    --vscode-input-placeholderForeground: #989898;

    --tc-chat-card-content-bg: rgb(255 255 255 / 4%);

    --container-padding: 0;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 4px;
    --input-margin-vertical: 4px;
    --input-margin-horizontal: 0;
}
:root[theme='light'] {
    --vscode-foreground:  #3b3b3b;
    --vscode-font-family: "Segoe WPC", "Segoe UI", sans-serif;
    --vscode-font-weight: normal;
    --vscode-font-size: 13px;
    --vscode-editor-background: #ffffff;
    --vscode-editor-foreground: #3b3b3b;
    --vscode-focusBorder: #005fb8;
    --vscode-textLink-foreground: #005fb8;
    --vscode-textLink-activeForeground: #005fb8;
    --vscode-editor-font-family: Consolas, 'Courier New', monospace;
    --vscode-button-secondaryForeground: #3b3b3b;
    --vscode-button-secondaryBackground: #e5e5e5;
    --vscode-button-secondaryHoverBackground: #cccccc;
    --vscode-input-background: #ffffff;
    --vscode-input-foreground: #3b3b3b;
    --vscode-input-border: #cecece;
    --vscode-input-placeholderForeground: #767676;

    --tc-chat-card-content-bg: rgb(0 0 0 / 4%);

    --container-padding: 0;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 4px;
    --input-margin-vertical: 4px;
    --input-margin-horizontal: 0;
}
/**
 * @author Ali Gençay
 * https://github.com/gencay/vscode-chatgpt
 *
 * @license
 * Copyright (c) 2022 - Present, Ali Gençay
 *
 * All rights reserved. Code licensed under the ISC license
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 */
:root {
    --container-padding: 0;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 4px;
    --input-margin-vertical: 4px;
    --input-margin-horizontal: 0;
}
body {
    padding: 0 var(--container-padding);
    color: var(--vscode-foreground);
    font-size: 13px;
    /*var(--vscode-editor-font-size); */
    font-weight: var(--vscode-font-weight);
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
}
ol,
ul {
    padding-left: var(--container-padding);
}
body>*,
form>* {
    margin-block-start: var(--input-margin-vertical);
    margin-block-end: var(--input-margin-vertical);
}
*:focus {
    outline-color: var(--vscode-focusBorder) !important;
}
a {
    color: var(--vscode-textLink-foreground);
}
a:hover,
a:active {
    color: var(--vscode-textLink-activeForeground);
}
blockquote,
dd,
dl,
figure,
h1,
h3,
h4,
h5,
h6,
hr,
p {
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}
h1 {
    font-size: 1.17em !important;
    margin-top: 0.67em !important;
    margin-bottom: 0.67em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}
h2 {
    font-size: 1em !important;
    margin-top: 0.0em !important;
    margin-bottom: 0.83em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}
h3 {
    font-size: .93em !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}
h4 {
    font-size: .85em !important;
    margin-top: 1.33em !important;
    margin-bottom: 1.33em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}
h5 {
    font-size: .83em !important;
    margin-top: 1.67em !important;
    margin-bottom: 1.67em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}
h6 {
    font-size: .8em !important;
    margin-top: 2.33em !important;
    margin-bottom: 2.33em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}
code {
    font-family: var(--vscode-editor-font-family) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
button {
    border: none;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    text-align: center;
    outline: 1px solid transparent;
    outline-offset: 2px !important;
    color: var(--vscode-button-secondaryForeground) !important;
    background: var(--vscode-button-secondaryBackground) !important;
}
button:hover {
    background: var(--vscode-button-secondaryHoverBackground) !important;
}
button:hover svg {
    stroke: var(--vscode-button-secondaryForeground) !important;
}
button:focus {
    outline-color: var(--vscode-focusBorder);
}
button.secondary {
    color: var(--vscode-button-secondaryForeground);
    background: var(--vscode-button-secondaryBackground);
}
button.secondary:hover {
    background: var(--vscode-button-secondaryHoverBackground);
}
input:not([type='checkbox']),
textarea {
    display: block;
    width: 100%;
    border: none;
    font-family: var(--vscode-font-family);
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    color: var(--vscode-input-foreground);
    outline-color: var(--vscode-input-border);
    background-color: var(--vscode-input-background);
}
input::placeholder,
textarea::placeholder {
    color: var(--vscode-input-placeholderForeground);
}
[contenteditable='true'] {
    outline: 1px solid var(--vscode-focusBorder);
}
/* CSS Spinner */
.spinner {
    width: 36px;
    text-align: center;
}
.spinner>div {
    width: 4px;
    height: 4px;
    background-color: #888;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
0%,
    80%,
    100% {
        -webkit-transform: scale(0)
}
40% {
        -webkit-transform: scale(1.0)
}
}
@keyframes sk-bouncedelay {
0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
}
40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
}
}
.textarea-wrapper {
    display: grid;
    max-height: 20rem;
    font-size: var(--vscode-font-size);
}
.textarea-wrapper::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}
.textarea-wrapper>textarea {
    resize: none;
    overflow: hidden;
    max-height: 20rem;
}
.textarea-wrapper>textarea,
.textarea-wrapper::after {
    border: 1px solid #00000012;
    padding: .5rem .5rem .5rem .5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 4px
}
.pre-code-element:not(:last-child) {
    margin-bottom: 2rem;
}
.chat-card-bg {
    padding: 2px 4px;
}
.chat-card-content-bg {
    background-color: var(--tc-chat-card-content-bg);
    border-radius: 4px;
}
.code-actions-wrapper {
    opacity: 0.70;
    font-size: 12px;
    font-family: var(--vscode-font-family) !important;
    /* margin-top: 1rem; */
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.code-actions-wrapper:hover {
    opacity: 1;
    display: flex;
}
.typing {
    font-size: var(--vscode-font-size);
}
.input-background {
    background: var(--vscode-input-background);
}
.send-element-ext,
.cancel-element-ext {
    font-size: smaller;
}
@-webkit-keyframes blink {
to {
        visibility: hidden
}
}
@keyframes blink {
to {
        visibility: hidden
}
}
.result-streaming>:not(ol):not(ul):not(pre):last-child:after,
.result-streaming>ol:last-child li:last-child:after,
.result-streaming>pre:last-child code:after,
.result-streaming>ul:last-child li:last-child:after {
    -webkit-animation: blink 1s steps(5, start) infinite;
    animation: blink 1s steps(5, start) infinite;
    content: "▋";
    margin-left: 0.25rem;
    vertical-align: baseline;
}
@media (max-height: 560px) {
.features-block {
        display: none !important;
}
}
.hidden {
    display: hidden;
}
.answer-element-ext table {
    --tw-border-spacing-x: 0px;
    --tw-border-spacing-y: 0px;
    border-collapse: separate;
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
    width: 100%;
    text-align: left;
}
.answer-element-ext th {
    background-color: var(--vscode-input-background);
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    padding: .25rem .75rem;
}
.answer-element-ext th:first-child {
    border-top-left-radius: .375rem;
}
.answer-element-ext th:last-child {
    border-right-width: 1px;
    border-top-right-radius: .375rem;
}
.answer-element-ext td {
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: .25rem .75rem;
}
.answer-element-ext td:last-child {
    border-right-width: 1px
}
.answer-element-ext tbody tr:last-child td:first-child {
    border-bottom-left-radius: .375rem;
}
.answer-element-ext tbody tr:last-child td:last-child {
    border-bottom-right-radius: .375rem;
}
.answer-element-ext a {
    text-decoration-line: underline;
    text-underline-offset: 2px;
}
.send-erea-items-center {
    justify-content: right;
    margin-left: 6px;
}

html[data-code-theme=dark] {
  /*

  Atom One Dark by Daniel Gamage
  Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

  base:    #282c34
  mono-1:  #abb2bf
  mono-2:  #818896
  mono-3:  #5c6370
  hue-1:   #56b6c2
  hue-2:   #61aeee
  hue-3:   #c678dd
  hue-4:   #98c379
  hue-5:   #e06c75
  hue-5-2: #be5046
  hue-6:   #d19a66
  hue-6-2: #e6c07b

  */
}
html[data-code-theme=dark] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
html[data-code-theme=dark] code.hljs {
  padding: 3px 5px;
}
html[data-code-theme=dark] .hljs {
  color: #abb2bf;
  background: #282c34;
}
html[data-code-theme=dark] .hljs-comment,
html[data-code-theme=dark] .hljs-quote {
  color: #5c6370;
  font-style: italic;
}
html[data-code-theme=dark] .hljs-doctag,
html[data-code-theme=dark] .hljs-keyword,
html[data-code-theme=dark] .hljs-formula {
  color: #c678dd;
}
html[data-code-theme=dark] .hljs-section,
html[data-code-theme=dark] .hljs-name,
html[data-code-theme=dark] .hljs-selector-tag,
html[data-code-theme=dark] .hljs-deletion,
html[data-code-theme=dark] .hljs-subst {
  color: #e06c75;
}
html[data-code-theme=dark] .hljs-literal {
  color: #56b6c2;
}
html[data-code-theme=dark] .hljs-string,
html[data-code-theme=dark] .hljs-regexp,
html[data-code-theme=dark] .hljs-addition,
html[data-code-theme=dark] .hljs-attribute,
html[data-code-theme=dark] .hljs-meta .hljs-string {
  color: #98c379;
}
html[data-code-theme=dark] .hljs-attr,
html[data-code-theme=dark] .hljs-variable,
html[data-code-theme=dark] .hljs-template-variable,
html[data-code-theme=dark] .hljs-type,
html[data-code-theme=dark] .hljs-selector-class,
html[data-code-theme=dark] .hljs-selector-attr,
html[data-code-theme=dark] .hljs-selector-pseudo,
html[data-code-theme=dark] .hljs-number {
  color: #d19a66;
}
html[data-code-theme=dark] .hljs-symbol,
html[data-code-theme=dark] .hljs-bullet,
html[data-code-theme=dark] .hljs-link,
html[data-code-theme=dark] .hljs-meta,
html[data-code-theme=dark] .hljs-selector-id,
html[data-code-theme=dark] .hljs-title {
  color: #61aeee;
}
html[data-code-theme=dark] .hljs-built_in,
html[data-code-theme=dark] .hljs-title.class_,
html[data-code-theme=dark] .hljs-class .hljs-title {
  color: #e6c07b;
}
html[data-code-theme=dark] .hljs-emphasis {
  font-style: italic;
}
html[data-code-theme=dark] .hljs-strong {
  font-weight: bold;
}
html[data-code-theme=dark] .hljs-link {
  text-decoration: underline;
}
html[data-code-theme=light] {
  /*

  Atom One Light by Daniel Gamage
  Original One Light Syntax theme from https://github.com/atom/one-light-syntax

  base:    #fafafa
  mono-1:  #383a42
  mono-2:  #686b77
  mono-3:  #a0a1a7
  hue-1:   #0184bb
  hue-2:   #4078f2
  hue-3:   #a626a4
  hue-4:   #50a14f
  hue-5:   #e45649
  hue-5-2: #c91243
  hue-6:   #986801
  hue-6-2: #c18401

  */
}
html[data-code-theme=light] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
html[data-code-theme=light] code.hljs {
  padding: 3px 5px;
}
html[data-code-theme=light] .hljs {
  color: #383a42;
  background: #fafafa;
}
html[data-code-theme=light] .hljs-comment,
html[data-code-theme=light] .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
html[data-code-theme=light] .hljs-doctag,
html[data-code-theme=light] .hljs-keyword,
html[data-code-theme=light] .hljs-formula {
  color: #a626a4;
}
html[data-code-theme=light] .hljs-section,
html[data-code-theme=light] .hljs-name,
html[data-code-theme=light] .hljs-selector-tag,
html[data-code-theme=light] .hljs-deletion,
html[data-code-theme=light] .hljs-subst {
  color: #e45649;
}
html[data-code-theme=light] .hljs-literal {
  color: #0184bb;
}
html[data-code-theme=light] .hljs-string,
html[data-code-theme=light] .hljs-regexp,
html[data-code-theme=light] .hljs-addition,
html[data-code-theme=light] .hljs-attribute,
html[data-code-theme=light] .hljs-meta .hljs-string {
  color: #50a14f;
}
html[data-code-theme=light] .hljs-attr,
html[data-code-theme=light] .hljs-variable,
html[data-code-theme=light] .hljs-template-variable,
html[data-code-theme=light] .hljs-type,
html[data-code-theme=light] .hljs-selector-class,
html[data-code-theme=light] .hljs-selector-attr,
html[data-code-theme=light] .hljs-selector-pseudo,
html[data-code-theme=light] .hljs-number {
  color: #986801;
}
html[data-code-theme=light] .hljs-symbol,
html[data-code-theme=light] .hljs-bullet,
html[data-code-theme=light] .hljs-link,
html[data-code-theme=light] .hljs-meta,
html[data-code-theme=light] .hljs-selector-id,
html[data-code-theme=light] .hljs-title {
  color: #4078f2;
}
html[data-code-theme=light] .hljs-built_in,
html[data-code-theme=light] .hljs-title.class_,
html[data-code-theme=light] .hljs-class .hljs-title {
  color: #c18401;
}
html[data-code-theme=light] .hljs-emphasis {
  font-style: italic;
}
html[data-code-theme=light] .hljs-strong {
  font-weight: bold;
}
html[data-code-theme=light] .hljs-link {
  text-decoration: underline;
}
.chat-box-600 {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* 设置滚动条宽度 */
}
::-webkit-scrollbar-track {
  background: --var(--vscode-editor-background);
  /*#f1f1f1;*/
  border-radius: 2px;
  /* 滚动条轨道背景色 */
}
::-webkit-scrollbar-thumb {
  background: #888;
  /* 滚动条滑块背景色 */
  border-radius: 2px;
  /* 滑块圆角 */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 滑块悬停时的背景色 */
  border-radius: 2px;
}